.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f1f4f7;
  padding: 30px 20px;
  color: #333;
  flex-wrap: wrap;
  margin-top: auto;
}

.footer-column {
  min-width: 200px;
  margin: 10px;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  background-color: #52b788;
  color: white;
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
